---
name: Build and publish a Docker images

'on':
    pull_request:
    push:
      branches:
        - master
      paths-ignore:
        - '**.md'
    workflow_dispatch:

jobs:
    build:
        name: Build
        strategy:
            fail-fast: false
            matrix:
                image:
                    - rhel8-systemd
                    - rhel9-systemd
                    - rockylinux8-systemd
                    - rockylinux9-systemd
                    - ubuntu2004-systemd
                    - ubuntu2204-systemd
                    - ubuntu2404-systemd
                runner:
                    - ubuntu-24.04
                    - ubuntu-24.04-arm

        runs-on: ${{matrix.runner}}

        steps:
            - uses: actions/checkout@v4

            - name: Set architecture tag
              id: arch
              run: |
                if [[ "${{matrix.runner}}" == *"-arm"* ]]; then
                  echo "arch=arm64" >> $GITHUB_OUTPUT
                else
                  echo "arch=amd64" >> $GITHUB_OUTPUT
                fi

            - name: Build image
              run: docker build -t ghcr.io/${{github.repository_owner}}/${{matrix.image}}:${{steps.arch.outputs.arch}} ${{matrix.image}}

            - name: Test image
              run: docker run -d --privileged -v /sys/fs/cgroup:/sys/fs/cgroup:rw ghcr.io/${{github.repository_owner}}/${{matrix.image}}:${{steps.arch.outputs.arch}} systemctl status

            - name: Login to GitHub Container Registry
              if: ${{ github.ref == 'refs/heads/master' }}
              run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin

            - name: Push image
              if: ${{ github.ref == 'refs/heads/master' }}
              run: docker push ghcr.io/${{github.repository_owner}}/${{matrix.image}}:${{steps.arch.outputs.arch}}

    publish_manifest:
        name: Publish Multi-arch Manifest
        needs: build
        runs-on: ubuntu-latest
        if: ${{ github.ref == 'refs/heads/master' }}

        strategy:
            fail-fast: false
            matrix:
                image:
                    - rhel8-systemd
                    - rhel9-systemd
                    - rockylinux8-systemd
                    - rockylinux9-systemd
                    - ubuntu2004-systemd
                    - ubuntu2204-systemd
                    - ubuntu2404-systemd

        steps:
            - name: Login to GitHub Container Registry
              run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin

            - name: Create and push manifest
              run: |
                docker manifest create ghcr.io/${{github.repository_owner}}/${{matrix.image}}:latest \
                  ghcr.io/${{github.repository_owner}}/${{matrix.image}}:amd64 \
                  ghcr.io/${{github.repository_owner}}/${{matrix.image}}:arm64
                docker manifest push ghcr.io/${{github.repository_owner}}/${{matrix.image}}:latest
